* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color: black; 
    height: 100vh ;
    margin-top: 10px;
}