* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;

}

.left-content{
    background-color:#f2f3f7;
    width: 300px;
    float: left;
    text-align: center;
    position: fixed;
    height: 100%;
}

.avatar-img{
    /* margin-left: 100px; */
    text-align: center;
}

.avatar-img img {
    border-radius: 99px;
    width: 150px;
    margin-top: 20px;
}

.name{
    margin-top: 30px;
}

.menu{
    margin-top: 30px;
}

.menu ul li{
    padding-top: 20px;
    list-style: none;
}

.menu-element{
    text-decoration: none;
    color: black;
}

.menu-element:hover{
    text-decoration: underline blue ; 
    text-transform: uppercase;
}

.right-content{
    width: calc(100% - 300px);
    float: right;
}

.home{
    /* background-image: url('https://images.unsplash.com/photo-1521185496955-15097b20c5fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=947&q=80');
    width: 100%;
    background-size:cover */
}


/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 40%;
    padding: 10px;
 }

.column1 img{
    width: 90%;
    height: 100%;
    margin-left: 10%;
}

.column2{
    float: left;
    width: 60%;
    padding: 10px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.menu-element-content{
    margin-bottom: 60px;
}

.infor-element{
    list-style: none;
    margin-bottom: 40px;
    display: flex;
    
}

.column2 ul {
    margin-top: 70px;
}

.infor-element span:first-child{
    width: 200px;
}

.infor-element span:last-child{
    color: #999;
    width: calc(100% - 200px);
}

.icons {
    font-weight: bold;
    font-size: 30px;
    margin:20px 10px;
}


.progress{
    margin: 30px;
}

.header-menu {
    font-weight: 800;
    color: black;
    font-size: 30px;
}

#skills, #contact {
    margin-left: 30px;
}

.icons-contact{
    font-size: 70px;
    font-weight: bold;
    margin:20px 40px;
}
